{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Поменять пароль{% endblock title %}

{% block content %}
    <section class="section section--auth">
        <h1>{% if token_fail %}Не корректный Token{% else %}Поменять пароль{% endif %}</h1>

        {% if token_fail %}
            <p>Ссылка для сброса пароля была недействительной. Может быть, он уже был использован? Пожалуйста, запросите
                <a href="{% url 'account_reset_password' %}">сброс нового пароля</a>.</p>
        {% else %}
            {% if form %}
                <form method="POST" action="." class="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="button-submit" type="submit">Поменять пароль</button>
                </form>
            {% else %}
                <p>Теперь ваш пароль изменен.</p>
            {% endif %}
        {% endif %}
    </section>

{% endblock content %}
