<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Boy</title>
  <link rel="stylesheet" href="MainMenu.css">

  <style>
    body {
        overflow-y: hidden; /* Предотвращает прокрутку по вертикали */
    }
  </style>
    <!-- Задний фон -->
    <div class="background-image2"></div>
  }
 <!-- Окно регистрации Пользователя -->
 <div class="new-image3"></div>
  <!-- Поле ввода текста -->
     <input class="input-text" type="text" placeholder="">
    <!-- Поле ввода пароля -->
    <input class="input-password" type="password" placeholder="">
  <!-- Поле подтверждения пароля -->
    <input class="input-confirm-password" type="password" placeholder="">
  <!-- Поле ввода email -->
     <input class="input-Email" type="text" placeholder="">
 <div class="new-image-on-image5">
  <!-- Boy -->
<div class="new-text-on-image3" onclick="location.href='RegistrationBoy.html';">
  <h1>Boy</h1>
</div>
    <!-- girl -->
<div class="new-text-on-image4">
    <h1>Girl</h1>
</div>
  <div class="new-image-on-image6">
  <div class="new-image-on-image7">
  <div class="new-image-on-image8">
  <div class="new-image-on-image9">
</body>
</div>
