<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
  <link rel="stylesheet" href="MainMenu.css">

  <style>
    body {
        overflow-y: hidden; /* Предотвращает прокрутку по вертикали */
    }
  </style>
    <!-- Задний фон -->
    <div class="background-image7"></div>
  }
    <div class="new-image-on-image17"></div>
    <div class="new-image-on-image18"></div>
        <div class="new-text-on-image9" id="Exit" onclick="location.href='Street.html';">
             <h1>Exit</h1>
        </div>