<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
  <link rel="stylesheet" href="MainMenu.css">
  <style>
    body {
        overflow-y: hidden; /* Предотвращает прокрутку по вертикали */
    }
  </style>
      <!-- Задний фон -->
  <div class="background-image4">
  <div class="new-image10" id="Yes" onclick="location.href='ShopStore.html';">
     <h1></h1>
  </div>
  <div class="new-image11" id="No" onclick="location.href='Street.html';">
     <h1></h1>
  </div>

  }
  </div>
</head>
<body>

</body>
</html>