{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Boy</title>
  <link rel="stylesheet" href="regestrationboy.css">
  <style>
    body {
        overflow-y: hidden; /* Предотвращает прокрутку по вертикали */
    }
  </style>
</head>
<body>

  <!-- Задний фон -->
  <div class="background-image"></div>

  <!-- Изображение окна регистрации -->
  <div id="window-reg">
    <!-- Элемент для текста на изображении -->
    <div class="text-on-image">
      <h1>Regestration</h1>
    </div>
      <!-- Новый текст на изображении -->
  <div class="new-text-on-image">
    <input class="input-text" type="text" placeholder="">
    <h1>User Name :</h1>

    <!-- Новый текст на изображении -->
  <div class="new-text-on-image2">
     <!-- Поле ввода пароля -->
  <input class="input-password" type="password" placeholder="">
    <h1>Password :</h1>
  </div>
        <!-- Новый текст на изображении -->
  <div class="new-text-on-image3">
  <!-- Поле ввода подтверждения пароля -->
  <input class="input-confirm-password" type="password" placeholder="">
    <h1>Confirm Password :</h1>
            <!-- Новый текст на изображении -->
  <div class="new-text-on-image4">
  <!-- Поле ввода почты -->
  <input class="input-email" type="email" placeholder="">
    <h1>Email Address :</h1>
  </div>
  <!-- Новый текст на изображении -->
  <div class="new-text-on-image5">
    <h1>Choise your Person</h1>
  </div>

</div>
  <!-- Изображение окна регистрации -->
  <div id="choise-hero">
    <img src="C:/Users/serey/Downloads/windowchoisehero.png">
            <!-- Изображение персоны -->
    <div class="new-image-on-image"></div>
    <div class="new-image-on-image2"></div>
    <div class="new-image-on-image3"></div>
    </div>
    <!-- Элемент для текста на изображении -->
    <div class="new-text-on-image6">
      <h1>Boy</h1>
    </div>
        <!-- Элемент для текста на изображении -->
    <div class="new-text-on-image7">
      <h1>?</h1>
              <!-- Элемент для текста на изображении -->
    <div class="new-text-on-image8">
      <a href="RegestrationGirl.html" target="_blank">
        <h1>Girl</h1>
      </a>
    </div>
</body>
</html>