<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentralStreet</title>
  <link rel="stylesheet" href="MainMenu.css">

  <style>
    body {
        overflow-y: hidden; /* Предотвращает прокрутку по вертикали */
    }
  </style>
    <!-- Задний фон -->
    <div class="background-image6"></div>
    <div class="new-image12"></div>
<div class="new-image13" id="GoToBackButton" onclick="location.href='Street.html';">
     <h1></h1>
</div>