<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  <link rel="stylesheet" href="MainMenu.css">

  <style>
    body {
        overflow-y: hidden; /* Предотвращает прокрутку по вертикали */
    }
  </style>
    <!-- Задний фон -->
    <div class="background-image2"></div>
  }
<!-- Окно Входа -->
<div class="new-image4"></div>
 <!-- Поле ввода текста -->
     <input class="input-text2" type="text" placeholder="">
 <!-- Поле подтверждения пароля -->
     <input class="input-password2" type="password" placeholder="">
<!-- Login -->
<div class="new-text-on-image5" id="login-button" onclick="location.href='Street.html';">
  <h1>Login</h1>
</div>
<!-- Registration -->
<div class="new-text-on-image6" id="registration-button" onclick="location.href='RegistrationBoy.html';">
  <h1>Registration</h1>
</div>
