{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Поменять пароль{% endblock %}

{% block content %}
    <section class="section section--auth">
        <form method="post" action="{% url 'account_change_password' %}" class="form">
            <h2 class="form-title">Поменять пароль</h2>

            {% csrf_token %}
            {{ form|crispy }}
            <button class="button-submit" type="submit">Поменять пароль</button>
        </form>
    </section>

{% endblock content %}
